@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto Slab', serif;
    color: var(--text-color);
    scroll-behavior: smooth;
    user-select: none;
}


:root{
    --bg-color: #040725;
    --secbg-color: #15284e;
    --text-color: #fff;
    --main-color: #0CF2E8;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    letter-spacing: .1em;
}
html p{
    font-weight: 100;
}
body{
    background-color: var(--bg-color);
}

section{
    min-height: 100vh;
    padding: 7em 5% 2em;
}

@keyframes animationH1{
    0%   {transform: scale(1.0)}
    50%  {transform: scale(1.2)}
    100% {transform: scale(1.0)}

}
.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 7%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2em;
    text-shadow: 0 0 1.5em var(--main-color);;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    animation-name: animationH1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.navbar a{
    font-size: 1em;
    color: var(--text-color);
    margin-left: 2em;
    transition: .5s ease-in-out;
}
.navbar a:hover,
.navbar a.ativo{
    color: var(--main-color);
}
#menu-icone{
    font-size: 2em;
    color: var(--text-color);
    display: none;
}
.home {
    display: flex;
    align-items: center;
    padding: 10em 5% 2em;
    flex-direction: column;
    justify-content: center;
}
#homephoto{
    border-radius: 50%;
    width: 33vw;
    transition: 1s ease;
    box-shadow: 0 0 1em var(--main-color);
    padding: 1em;
    margin: .5em;
}

#homephoto:hover{
    box-shadow: 0 0 1.5em var(--main-color);
    transform: scale(1.1);
}
.home-content h3{
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom:.5em;
}
.home-content h1{
    text-align: center;
    font-size: 2.5em;
}
span{
    color: var(--main-color);
}
.home-content p{
    font-size: 1em;
    text-align: justify;
}
.redes-socias{
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes-socias a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background: transparent;
    border: .1em solid var(--main-color);
    border-radius: 50%;
    margin: 1em .5em;
     
}

.redes-socias a:hover{
    background: var(--main-color);
    color: var(--secbg-color);
    box-shadow: 0 0 1em var(--main-color);
    
}

.redes-socias i{
    color: var(--main-color);
    width: 100%;
    height: 100%;
    position: relative;
}

.redes-socias i:hover{
    color: var(--secbg-color);
}

i.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
#dwl-link{
    margin-right: 0.5em;
    color: var(--bg-color);
}

.btn-download{    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border-radius: 1.5em;
    box-shadow: 0 0 1em var(--main-color);
    background: var(--main-color);
    color: var(--bg-color);
    width: 60%;
    margin: auto;
    transition: 1s ease;    
    font-size: 80%;    
    letter-spacing: .2em;
    font-weight: 600;
}

.btn-download:hover{
    box-shadow: none;
}

.about{
    padding: 5em 5% 2em;;
    background: var(--secbg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-img{
    display: inline-flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
.imgabout{
    box-shadow: 0 0 0.5em var(--main-color);
    border-radius: 1em;
    width: 40%;
    margin: 5%;
    
}

.heading{
    text-align: center;
    font-size: 2.9em;
}
.about-content{
    width: 80%;
}
.about-content p{
    text-align: justify;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2em;
}

.about-content p{
    font-size: 1em;
    margin:0.9em 0 1.4em;

}
.lista{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.lista-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em 1rem;
    width: 80%;
    border: 0.1em solid white;
}
.lista-item h4{
    font-weight: 700;
    transition: .5s ease-out;
}
.lista-item li{
    font-size: .8em;
    font-weight: 200;
    list-style-type: none;
    transition: .5s ease-out;
}
.lista-item li:hover, .lista-item h4:hover{
    transform: scale(1.2);
}

.btn-leia{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em;
    border-radius: 1rem;
    box-shadow: 0 0 .7em var(--main-color);
    background: var(--main-color);
    color: var(--bg-color);
    width: 30%;
    margin: 1em auto;
    transition: 1s ease;
    letter-spacing: .1em;
    font-weight: 600;
    font-size: 80%;
}

.btn-leia:hover{
    box-shadow: none;
}

.services h2{
    margin-bottom: 1em;
}

.services-container{
    font-size: 0.9em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.services-box{
    background-color: var(--secbg-color);
    padding: 1.5em 1em 2em;
    border-radius: 1em;
    text-align: center;
    border: .1em solid var(--bg-color);
    transition: 1s ease;
    height: 60%;
    overflow: hidden;
}

.services-box:hover{
    transform: scale(1.02);
    border-color: var(--main-color);
    box-shadow: 0 0 .7em var(--main-color);
}

.services-box h3{
    display: flex;
    align-items: center;
    justify-content: center;

}
.services-box i{
    font-size: 3em;
    color: var(--main-color);
}

.btn-leia.services-btn{
    width: 30%;
}
.services-container .services-box p{
    margin: .5em 0 1em;
    
} 
.pbimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.portfolio{
    background-color: var(--secbg-color);
    padding: 7em 5% 2em;
}
.portfolio-layer{
    display: flex;
    margin: 2em 0 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}
.frame iframe{
    width: 90%;
    height: 100%;
    border: 0.1em solid var(--main-color);
    
}

#pbimg2{
    display: flex;
    flex: 1 1 1em;
    gap: 1em;
    align-items: center;
    flex-direction: row;
}
#pbimg2 img{
    border: .1em white solid;
    border-radius: 10px;
}
#fps1{
    width: 45%;
}
#fps2{
    width: 45%;
}



@media only screen and (min-width: 992px) {
    .home {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 9em 5% 2em;
        flex-direction: row-reverse;
    }
    #homephoto{
        margin: 0 10%;
    }
    .home-content h3 {
        text-align: left;
        font-size: 1.5em;
        font-weight: 700;
    }
    .home-content h1 {
        text-align: left;
        font-size: 2.5em;
    }
    .redes-socias {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .redebutton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista{
        display: flex;
        flex-direction: row;
    }
    .lista-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;   
        height: 20vh;
    }
    .services-container {
        font-size: 0.9em;
        display: flex;
        gap: 1em;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .services-container .services-box {
        display: flex;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
    }
    .services-box:hover {
        transform: scale(1.04);

    }

    .frame{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: -5%;
        
        
    
    }
    .frame iframe{
        width: 70%;
        height: 70%;
        border: 0.1em solid var(--main-color);
        
    }
}
